 @font-face {
    font-family: 'Heartjungle Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heartjungle Regular'), url('Heartjungle.woff') format('woff');
   }
h1{
	size: 400;
	/*color: #3d2412;*/
	font-style: bold;
	-webkit-background-clip: text;
	font-family: Heartjungle Regular;
	background-image: linear-gradient(180deg, black,darkgreen); 

	-webkit-text-fill-color: transparent;
}